:root{
    --background: #212227;
    --text: #BDD4E7;
    --border: #8693AB;
    --font: 'Vollkorn', serif;
}


#about-div{
    animation-name: fadeIn;
    animation-duration: 2s;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: 5px solid var(--border);
    border-radius: 10px;
   

}

p{
    font-size: 15px;
}

li{
    font-size: 20px;
}

#about-cards-div{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;

}

.about-card{
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;
    
}

button{
    margin: 10px;
    background: transparent;
    color: var(--text);
    border: none;
    border-bottom: 5px solid var(--border);
    font-size: 15px;
    padding: 5px;
}

#education-div, #achievement-div, #hobbies-div{
    margin: 20px;
}

.about-title{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    width: 100%;
    padding: 10px;
}





@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.about-card{
    margin: 10px;
    padding: 20px;
    border: 5px solid var(--border);
    border-radius: 10px;
    width: 100%;
}